.dashboard-workspace{

    display:grid;

    grid-template-columns:
    1.4fr .9fr;

    gap:28px;

    align-items:start;

    margin:48px 0;

  }

  .workspace-left,
  .workspace-right{

    display:flex;

    flex-direction:column;

    gap:28px;

  }

  @media(max-width:1200px){

  .dashboard-workspace{

  grid-template-columns:1fr;

  }

  }
